/*---------------GENERAL---------------*/
article, aside, details, figure, figcaption, footer, header, menu, nav, section {
    display: block;
}

/*pour anciens navigateurs ne prenant pas mes balises HTML5 en charge, je déclare ces balises en tant que block*/
html, body { /*propriétés pour du full screen*/
    height: 100%;
    margin: 0;
}

#container {
    overflow-x: hidden; /*pour couper ce qui dépasse (bordures chevrons des boutons du slider)*/
    background-color: #fff;
}

/*utilisation de la police personnalisée googlefont pour tout, polices de substitution si le navigateur ne lit pas la police Roboto*/
* {
    font-family: 'Roboto', Arial, serif, verdana;
}

/* Déclaration de la police FontAwesome pour les icônes */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.otf') format('otf'),
    url('../fonts/FontAwesome/fontawesome-webfont.eot') format('eot'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg') format('svg'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff');
}

.fa {
    font-family: 'FontAwesome';
}

h2 {
    font-size: 30px;
}

#previous:hover, #next:hover, #previous:active, #next:active, #main-title button:active, #main-title button:hover, #projets-menu li:hover,
#projets-menu li:focus, #projets-menu li:active, #projets-menu ul:not(:hover) li .active, .portfolio-items:hover .hidden, #input-contact[type="submit"],
.dropbtn, .dropbtn-close {
    cursor: pointer;
}

.centrer {
    text-align: center;
}

a {
    text-decoration: none;
}

/*---------------EN-TÊTE---------------*/
header {
    margin-bottom: 10px;
}
#navigation {
    position: fixed;
    z-index: 5;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    height: 57px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
}

#navigation div {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-left: 10%;
}

/*---------------MENU---------------*/
#navigation nav {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

nav li {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
}

.active-link {
    font-weight: bold;
    border-top: 4px solid rgb(93, 173, 211);
}

nav a {
    color: grey;
    padding: 30px 10px 0 10px;
}

nav a:hover, nav a:focus  {
    font-weight: bold;
}

/*Dropdown menu*/
nav #dropdown {
    display: none;
}

/*---------------SLIDER---------------*/
/* -webkit- Chrome et Safari */
@-webkit-keyframes imagesSlide {
    from {
        -webkit-transform: translateX(0px);
    }
    15% {
        -webkit-transform: translateX(0px);
    }
    35% {
        -webkit-transform: translateX(-100%);
    }
    60% {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0px);
    }
}

/* -o- Opera */
@-o-keyframes imagesSlide {
    from {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(0px);
    }
    35% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0px);
    }
}

/* -moz -Firefox */
@-moz-keyframes imagesSlide {
    from {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(0px);
    }
    35% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0px);
    }
}

/* Navigateur aux normes w3c */
@keyframes imagesSlide {
    from {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(0px);
    }
    35% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0px);
    }
}

#slider {
    position: relative;
    padding-top: 97px;
    overflow: hidden; /* ajouté sur le slider en plus du body pour Safari (bug)*/
}

#slides {
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#slider, #slides, #slide-1, #slide-2 {
    min-height: 550px;
}

#slide-1, #slide-2 {
    width: 100%;
    position: absolute;
    background: no-repeat center center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/*---------------PROGRESS BAR---------------*/
/* -webkit- Chrome et Safari */
@-webkit-keyframes timeline {
    from {
        width: 10%;
    }
    15% {
        width: 10%;
    }
    35% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    to {
        width: 10%;
    }
}

/* -o- Opera */
@-o-keyframes timeline {
    from {
        width: 10%;
    }
    15% {
        width: 10%;
    }
    35% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    to {
        width: 10%;
    }
}

/* -moz -Firefox */
@-moz-keyframes timeline {
    from {
        width: 10%;
    }
    15% {
        width: 10%;
    }
    35% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    to {
        width: 10%;
    }
}

/* Navigateur aux normes w3c */
@keyframes timeline {
    from {
        width: 10%;
    }
    15% {
        width: 10%;
    }
    35% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    to {
        width: 10%;
    }
}

#timeline, #timeline-background, #slider:not(:hover) #timeline {
    position: absolute;
    bottom: 0;
    height: 4px;
}

#timeline {
    z-index: 2;
}

#timeline-background {
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#timeline, #slider:not(:hover) #timeline {
    background-color: rgb(93, 173, 211);
}

body:target {
    display: none;
}

/*---------------DETAILS SLIDER---------------*/
#previous, #next {
    top: 350px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s; /* Safari - Chrome */
    -moz-transition-duration: 0.3s; /* Mozilla */
    -o-transition-duration: 0.3s; /* Opera */
    transition-duration: 0.3s;
}

#previous {
    left: -35px;
    -webkit-border-radius: 0 70% 70% 0;
    -moz-border-radius: 0 70% 70% 0;
    border-radius: 0 70% 70% 0;
}

#next {
    right: -35px;
    -webkit-border-radius: 70% 0 0 70%;
    -moz-border-radius: 70% 0 0 70%;
    border-radius: 70% 0 0 70%;
}

#previous:active, #next:active {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.7);
}

#previous, #next, .fa-chevron-left, .fa-chevron-right {
    position: absolute;
    z-index: 3;
}

.fa-chevron-left, .fa-chevron-right {
    top: 28px;
    color: white;
}

.fa-chevron-left {
    left: 40px;
}

.fa-chevron-right {
    right: 40px;
}

/*---------------TITRE PRINCIPAL---------------*/
#main-title {
    position: absolute;
    z-index: 2;
    padding-left: 10%;
    top: 220px;
}

#main-title form {
    margin-top: 30px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(92, 173, 211);
}

#main-title span, #main-title p, #main-title a {
    color: #FFF;
}

#main-title p {
    line-height: 20px;
}

#main-title a {
    display: inline-block;
    background-color: rgb(93, 173, 211);
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    height: 45px;
    line-height: 45px; /*alignement du texte du lien plus d'infos*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4586a6;
    border-radius: 4px / 4px;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px / 4px;
}

#main-title a:active, #input-contact[type="submit"]:active {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    background-color: rgb(69, 134, 166);
    border-bottom: none;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*---------------SECTION NOS SERVICES---------------*/
#nos-services {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

#nos-services p {
    line-height: 30px;
}

#services-description {
    padding: 10px 30% 50px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#list-services {
    padding-left: 15%;
    padding-right: 5%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#list-services img {
    width: 510px;
    height: 319px;
}

#list-services ul {
    list-style-type: none;
    margin-top: 50px;
    padding-left: 100px;
}

.circle {
    width: 20px;
    height: 20px;
    color: rgb(92, 173, 211);
    background-color: white;
    margin-top: 8px;
    /* centrage */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    /* bordure : */
    box-shadow: 0 0 0 5px white;
    -webkit-box-shadow: 0 0 0 5px white;
    -moz-box-shadow: 0 0 0 5px white;
    border-radius: 50% / 50%;
    -webkit-border-radius: 50% / 50%;
    -moz-border-radius: 50% / 50%;
}

.circle, hr, .fa-line-chart, .fa-cubes, .fa-pie-chart, li .circles, .fa-services {
    position: absolute;
}

.h2-separation {
    position: relative;
    margin-top: auto;
    margin-bottom: 60px;
}

hr {
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border: 0.8px solid rgba(132, 129, 126, 0.2);
}

.list-items {
    position: relative;
}

.fa-line-chart, .fa-cubes, .fa-pie-chart {
    color: rgb(92, 173, 211);
    margin-top: 30px;
    margin-left: -80px;
}

li .circles {
    margin-top: 40px;
    margin-left: -30px;
    z-index: 2;
    color: rgb(92, 173, 211);
    background-color: white;
    box-shadow: 0 0 0 5px white;
    -webkit-box-shadow: 0 0 0 5px white;
    -moz-box-shadow: 0 0 0 5px white;
}

li .circles, .fa-services {
    border-radius: 50% / 50%;
    -webkit-border-radius: 50% / 50%;
    -moz-border-radius: 50% / 50%;
}

.fa-services {
    margin-top: 10px;
    margin-left: -95px;
    z-index: 1;
    /* bordure: */
    width: 70px;
    height: 70px;
    border: 1px solid rgba(132, 129, 126, 0.4);
}

/*---------------SECTION NOS PROJETS---------------*/
#nos-projets {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F5F5F5;
}

#projets-description {
    padding: 10px 30% 50px;
}

#projets-description p {
    line-height: 30px;
}

#projets-menu {
    margin: 50px auto 50px auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; /* comment les lignes se répartissent */
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; /* alignement axe secondaire */
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; /* alignement axe principal */
}

#projets-menu ul {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 400px;
    height: 45px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#projets-menu li {
    background-color: #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    position: relative;
    width: 100px;
    height: 45px;
    line-height: 45px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#projets-menu li:first-child, .active {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

#projets-menu li:last-child {
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}

#projets-menu li:hover::after, #projets-menu ul:not(:hover) li .active::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4586a6;
    position: absolute;
    bottom: -25%;
    right: 39%;
}

#projets-menu li:hover, #projets-menu li:focus, #projets-menu li:active, #projets-menu ul:not(:hover) li .active {
    background-color: rgb(93, 173, 211);
    border-bottom: 2px solid #4586a6;
}

#projets-menu a {
    display: block;
}

#projets-menu li:hover, #projets-menu li:focus, #projets-menu li:active, #projets-menu ul:not(:hover) li .active, #projets-menu a:hover, #projets-menu a:focus, #projets-menu a:active, #projets-menu a:visited:hover {
    color: white;
}

#projets-menu a:link, #projets-menu a:visited {
    color: black;
}

#portfolio-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; /*uniquement sur le conteneur des items*/
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; /*comment les lignes se répartissent*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; /*alignement axe secondaire*/
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; /*alignement axe principal*/
    width: 1600px;
    max-width: 100%;
    margin: auto;
}

.portfolio-items {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    margin: 15px;
    min-width: 300px;
    height: 200px;
    box-sizing: border-box; /*valeur border-box permet d'inclure le padding et les bordures dans le calcul des dimensions d'un élément*/
}

.portfolio-items > img {
    z-index: 1;
    min-width: 300px;
    height: 200px;
}

.items {
    z-index: 2;
    min-width: 300px;
    height: 66px;
    margin-top: 135px;
    background-color: rgba(112, 88, 42, 0.6);
    color: white;
}

.items, .fa-eye, .i-fa-eye, .portfolio-items .hidden {
    position: absolute;
}

h4 {
    padding-top: 10px;
    padding-left: 10px;
}

h4, .items p {
    margin: 0;
    font-size: 14px;
    padding-left: 10px;
}

.items p {
    padding-top: 3px;
}

.fa-eye {
    top: 12%;
    left: 10%;
}

.fa-eye, .i-fa-eye {
    z-index: 3;
    text-align: center;
    background-color: rgb(93, 173, 211);
    color: white;
}

.i-fa-eye {
    width: 20px;
    height: 20px;
    top: 62%;
    left: 85%;
    /* bordure double : */
    box-shadow: 0 0 0 10px rgb(93, 173, 211), 0 0 0 12px white;
    -webkit-box-shadow: 0 0 0 10px rgb(93, 173, 211), 0 0 0 12px white;
    -moz-box-shadow: 0 0 0 10px rgb(93, 173, 211), 0 0 0 12px white;
    border-radius: 50% / 50%;
    -webkit-border-radius: 50% / 50%;
    -moz-border-radius: 50% / 50%;
}

.portfolio-items .hidden {
    z-index: 4;
    bottom: 0;
    opacity: 0;
    width: 300px;
    height: 200px;
}

.portfolio-items:hover .hidden {
    opacity: 1;
    -webkit-transition: opacity 350ms ease-in;
    -moz-transition: opacity 350ms ease-in;
    -o-transition: opacity 350ms ease-in;
    -ms-transition: opacity 350ms ease-in;
    transition: opacity 350ms ease-in;
}

/*---------------SECTION CONTACT---------------*/
#nous-contacter {
    padding-top: 70px;
}

/* Carte google */
iframe {
    z-index: 1;
    border: none;
    padding: 0;
    position: absolute;
    opacity: 0.7;
}

iframe, #fondBleu {
    width: 100%;
    height: 600px;
}

#fondBleu {
    z-index: 2;
    background-color: rgb(93, 173, 211);
}

/* Formulaire */
#nous-contacter form {
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0px;
    margin-right: 10%;
    width: auto;
}

fieldset {
    border: none;
}

legend {
    margin-left: 0;
    padding-top: 20px;
    text-align: left;
}

#tel {
    border-bottom: dotted 1px black;
}

.form-group {
    padding-bottom: 4%;
}

textarea {
    resize: both;
    min-width: 305px;
    max-width: 305px;
    min-height: 100px;
    max-height: 180px;
    padding-top: 3%;
}

textarea, .form-input {
    border-radius: 4px / 4px;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px / 4px;
    color: grey;
}

.form-input {
    height: 30px;
}

input[type="text"], input[type="email"] {
    width: 305px;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid #A9A9A9;
    font-family: 'Roboto', Arial, serif;
    font-size: 14px;
    padding-left: 3%;
    margin: auto;
}

#input-contact[type="submit"] {
    background-color: rgb(93, 173, 211);
    color: white;
    width: 120px;
    height: 35px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4586a6;
    border-radius: 4px / 4px;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px / 4px;
}

/*-------------FOOTER-----------*/
footer {
    min-height: 150px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

footer ul {
    padding: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

footer .copyright {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    font-size: 14px;
}

footer a {
    color: #3491b2;
}

footer p span {
    padding-left: 10px;
    padding-right: 10px;
}

/*---------- LEGALES MENTIONS MODAL -----------*/
.modal{
    display: none; /* Hidden by default */
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(93, 173, 211, 0.1); /* Fallback color */
    background-color: rgba(93, 173, 211, 0.3); /* Black w/ opacity */
}

#modal-link:hover, #close:hover {
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
    color: rgb(93, 173, 211);
    background-color: white;
    font-size: 16px;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px / 5px;
    border-radius: 5px / 5px;
    position: absolute;
    left: 80%;
}

/*-------------MEDIA QUERIES-----------*/
/* grand écran d’ordinateur (21″ et + en plein écran ) */
@media screen and (max-width: 1200px) {
}

/* nouvelle règle pour les écrans ne dépassant pas 1024px de large */
@media screen and (max-width: 1024px) {
    /*---------------GENERAL---------------*/
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    #nos-services p, #projets-description p, #projets-menu a, legend, fieldset p, input[type="text"], input[type="email"], textarea {
        font-size: 18px;
    }

    /*---------------EN-TÊTE---------------*/
    #navigation {
        height: auto;
    }

    /*---------------MENU---------------*/
    #navigation > div, #navigation nav {
        margin: 0 auto;
    }

    #navigation nav {
        padding-top: 20px;
        width: 100%;
    }

    nav li {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin: 0 auto;
        padding-left: 15px;
    }

    nav a {
        font-size: 30px;
        padding: 10px 0 0 0;
    }

    /*---------------SLIDER---------------*/
    #slider {
        padding-top: 197px;
    }

    /*---------------DETAILS SLIDER---------------*/
    #previous, #next {
        top: 458px;
    }

    /*---------------TITRE PRINCIPAL---------------*/
    #main-title {
        top: 320px;
    }

    /*---------------SECTION NOS SERVICES---------------*/
    #services-description, #projets-description {
        padding-left: 10%;
        padding-right: 10%;
    }

    #nos-services, #nos-projets {
        padding-top: 170px;
    }

    #list-services {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
    }

    #list-services ul {
        padding-left: 15%;
        padding-right: 10%;
    }

    .fa-items {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    /*---------------SECTION CONTACT---------------*/
    #nous-contacter form {
        margin-top: 15px;
    }
}

/* nouvelle règle pour les écrans ne dépassant pas 900px de large */
@media screen and (max-width: 900px) {
    /*---------------GENERAL---------------*/
    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 24px;
    }

    #nos-services p, #projets-description p, #projets-menu a, legend, fieldset p, input[type="text"], input[type="email"], textarea {
        font-size: 20px;
    }

    /*---------------EN-TÊTE---------------*/
    #navigation {
        height: 57px;
    }

    /*---------------MENU---------------*/
    #navigation > div, #navigation nav {
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        position: absolute;
    }

    #navigation div {
        margin-left: auto;
    }

    #navigation #logo {
        margin-left: 8%;
    }

    #navigation i {
        color: rgb(93, 173, 211);
    }

    nav ul {
        display: none;
    }

    /* Dropdown menu */
    #dropbtn, #dropbtn-close {
        position: absolute;
        top: 5px;
        left: 80%;
        background-color: white;
        font-size: 16px;
        -moz-border-radius: 5px / 5px;
        -webkit-border-radius: 5px / 5px;
        border-radius: 5px / 5px;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 78px;
        background-color: white;
        width: 100%;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #dropdown-content a {
        padding: 12px 16px;
        display: block;
    }

    #dropdown-content a:hover {
        background-color: #f9f9f9;
    }

    nav #dropdown {
        display: block;
    }

    #dropdown:hover .dropbtn {
        background-color: white;
    }

    /*---------------SLIDER---------------*/
    #slider {
        padding-top: 97px;
    }

    /*---------------DETAILS SLIDER---------------*/
    #previous, #next {
        top: 358px;
    }

    /*---------------TITRE PRINCIPAL---------------*/
    #main-title {
        top: 220px;
    }

    #main-title br {
        display: none;
    }

    /*---------------SECTION NOS SERVICES---------------*/
    #services-description, #projets-description {
        padding-left: 15px;
        padding-right: 15px;
    }

    #nos-services, #nos-projets {
        padding-top: 70px;
    }

    #list-services ul {
        padding-left: 5%;
        padding-right: 5%;
    }

    #list-services li {
        position: relative;
        margin-top: 125px;
    }

    .fa-items {
        position: absolute;
        top: -100px;
        left: 58%;
    }

    /*---------------SECTION CONTACT---------------*/
    #nous-contacter {
        padding-top: 0;
    }
}

/* nouvelle règle pour les écrans ne dépassant pas 600px de large */
@media screen and (max-width: 600px) {
    /*---------------MENU---------------*/
    #navigation > div {
        top: 22px;
        left: 5%;
    }

    #navigation > div img {
        width: 80%;
    }

    #navigation #logo {
        margin-left: auto;
    }

    /*---------------SECTION NOS SERVICES---------------*/
    #services-description, #projets-description {
        padding-left: 5px;
        padding-right: 5px;
    }

    #list-services {
        padding-top: 20px;
    }

    #list-services ul {
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 0;
    }

    .fa-items {left: 65%;}

    /*---------------SECTION NOS PROJETS---------------*/
    #projets-menu {margin: 110px auto 110px auto;}

    #projets-menu ul {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #projets-menu ul, #projets-menu li {
        height: 65px;
        width: 100%;
    }

    #projets-menu li {line-height: 65px;}

    #projets-menu li a {font-size: 28px;}

    #projets-menu li:hover::after, #projets-menu ul:not(:hover) li .active::after {display: none;}

    #projets-menu li:first-child, .active {
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
    }

    #projets-menu li:last-child {
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 0 5px 5px;
    }

    /*---------------SECTION CONTACT---------------*/
    #nous-contacter form {
        margin-top: 15px;
    }
}

/* nouvelle règle pour les écrans ne dépassant pas 479px de large */
@media screen and (max-width: 479px) {
    /*---------------SECTION NOS SERVICES---------------*/
    #list-services ul {
        padding-left: 20%;
        padding-right: 20%;
    }

    /*---------------SECTION CONTACT---------------*/
    #nous-contacter form {
        position: relative;
        bottom: 0;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    fieldset {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-bottom: 5%;
        margin-left: 1%;
        text-align: center;
    }

    input[type="text"], input[type="email"] {
        width: 270px;
    }

    textarea {
        resize: both;
        min-width: 270px;
        max-width: 270px;
        min-height: 80px;
        max-height: 80px;
    }

    #input-contact[type="submit"] {
        width: auto;
        height: 50px;
        font-size: 20px;
    }
}

/* nouvelle règle pour l'impression */
@media print {
    /*---------------GENERAL---------------*/
    #navigation nav, #dropdown, #main-title button, #slider, #timeline, #timeline-background, #previous, #next, #list-services img, #projets-menu, #fondBleu, input, textarea {
        display: none;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    /*---------------MENU---------------*/
    #navigation {
        position: relative;
    }

    #navigation > div {
        margin: 0 auto;
    }

    /*---------------SECTION NOS SERVICES---------------*/
    #nos-services {
        padding-top: 0;
    }

    #services-description {
        margin-bottom: 0;
    }

    #list-services {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    #list-services ul {
        margin-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #list-services li {
        position: relative;
        margin-top: 135px;
    }

    .fa-items {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        position: relative;
        top: -100px;
        left: 58%;
    }

    #nos-services {
        padding-top: 0px;
    }

    #services-description, #projets-description {
        padding-left: 5%;
        padding-right: 5%;
    }

    #nos-services p, #projets-description p {
        font-size: 16px;
    }

    /*---------------SECTION NOS PROJETS---------------*/
    #nos-projets, #projets-description {
        padding-bottom: 0;
    }

    #nos-projets {
        margin-top: 30%;
    }

    #projets-menu a {
        font-size: 18px;
    }

    /*---------------SECTION CONTACT---------------*/
    #nous-contacter {
        padding-top: 0;
        margin-top: 500px;
    }

    #nous-contacter div {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #nous-contacter form {
        height: 150px;
    }

    #nous-contacter form, iframe {
        position: relative;
    }

    iframe {
        height: 500px;
        margin-top: 0;
        padding-top: 0;
    }
}
